root{
    --vermelho: #E50914;
    --preta: #141414; 
}

/*elementos base*/
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #141414;
    font-family: 'Arial', Times, serif ;
    color:#AAA
    
}
 
header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}


header .logo{
    margin-left: 5px;
    color: #E50914;
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color:#AAA;
    margin-right: 10px;
}

header nav a:hover{
    color:#fff
}

/*fimle principal*/

.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('/Img/Matrix.jpg');
    height: 700px;
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;

}
.filme-principal .titulo{
    margin-top: 15%;
    font-size: 70px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.botao{

    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 5px;
    font-size: 12px;

    cursor: pointer;
}

.botao i{
    margin-right: 8px;


}

.botao:hover{
    background-color: white;
    color: black;
    transition: 2s;
}

.container{
    margin-left: 20px;
}

.filme-principal .container{
    width: 70%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes{

    margin-top: 10px;
}